<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="css/vendor/ionic.min.css" rel="stylesheet">
    <style>
      body { text-align: center; }
      #planButton, #picButton {
        display: block;
        margin: 10em auto 10em auto;
      }
    </style>
  </head>
  <body ng-app="myIonicPopUpApp" ng-controller="PopupCtrl">

    <button id="planButton" class="button button-primary" ng-click="showPopup()"> Make Your Plan </button>
    <button id="picButton" class="button button-primary" ng-click=""> Take Pictures </button>

    <script src="js/ionic.bundle.js"></script>
    <!--<script src="js/utils.js"></script>-->
    <script src="js/workoutpage.js"></script>
  </body>
</html>